body {
  font-family: 'Inter', sans-serif;
}


html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header {
   
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {.
        font-family: monospace, sans-serif;
    }
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;

    color: white;
    text-transform: uppercase;
    font-size: 14px;
    
    font-weight: 700;
    border-bottom: 0.8px solid #98979751; /* Přidání čáry pod header */
}

/* Pro odkaz "Markéta Bystřická" */
a.logo {
  color: white; /* Výchozí barva textu */
  text-decoration: none; /* Odstraní podtržení */
}

/* Pro stav, když je odkaz aktivní (kliknutý) */
a.logo:active,
a.logo:focus,
a.logo:visited {
  color: white; /* Zachování bílé barvy i při kliknutí nebo navštívení */
}


    .logo {
        font-size: 14px;
        font-weight: 700;
    }
    nav {
        margin-left: auto;
    }
    nav ul {
        list-style: none;
        display: flex;
    }
    nav ul li {
        margin: 0 50px;
    }
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

.buttonkontakt {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BA31BC;
    color: #fff !important;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    transition: box-shadow 0.15s ease;
}

.buttonkontakt:hover, .button-primary:hover {
    background: #cc36cf;
}

.buttonkontakt::before, .button-primary::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 16px #741e76;
    mix-blend-mode: normal;
    border-radius: 50px;
    transition: box-shadow 0.15s ease;
}

.buttonkontakt:hover::before, .button-primary:hover::before {
    box-shadow: 0 8px 16px #ce36d067;
}

}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle at -10% 20%, #26282F 0%, transparent 30%),  
  radial-gradient(circle at 60% -10%, #121A46 0%, transparent 40%), 
  radial-gradient(circle at 80% 80%, #391C39 0%, transparent 40%), 
  radial-gradient(circle at 20% 200%, #121316 50%, transparent 100%),

                
              #121316; /* Hlavní tmavé pozadí */
  background-attachment: fixed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


}

html {
  font-size: 20px;
  line-height: 30px;
}

body {
  color: #C3C4CD;
  font-size: 1rem;
}

body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  clear: both;
  color:#F1EEF3;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h1,
.h1 {
  font-size: 64px;
  line-height: 16px;
  letter-spacing: 0px;
}

label {
  font-size: 20px;
  line-height: 30px;
}

.container,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1128px; /* Maximální šířka kontejneru */
}

.container-sm {
  max-width: 848px;
}

.container .container-sm {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}

.input,
.textarea {
  background-color: #F1EEF3;
  border-width: 1px;
  border-style: solid;
  border-color: #273c5a;
  border-radius: 2px;
  color: #7487a3;
  max-width: 100%;
  width: 100%;
}

.button:active {
  outline: 0;
}

.button-shadow {
  position: relative;
}

.button-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 24px rgba(6, 16, 31, 0.25);
  mix-blend-mode: multiply;
  transition: box-shadow 0.15s ease;
}

.button-shadow:hover::before {
  box-shadow: 0 8px 24px rgba(6, 16, 31, 0.35);
}

.button-primary {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background: #BA31BC;
  background-color: #BA31BC;
  color: #fff !important;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

.button-primary:hover {
  background: #cc36cf;
}

.button-primary.button-shadow::before {
  box-shadow: 0 8px 16px #741e76;
  mix-blend-mode: normal;
  border-radius: 50px;
}

.button-primary.button-shadow:hover::before {
  box-shadow: 0 8px 16px #ce36d067;
}

.hero {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
}

.hero-paragraph {
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 200;
}

.hero-content {
  display: flex;
  align-items: center; /* Vertikálně vyrovná text a obrázek na stejné úrovni */
  justify-content: space-between; /* Obrázek a text budou na opačných stranách */
  max-width: 1128px; /* Maximální šířka kontejneru pro obsah */
  margin: 0 auto; /* Aby byl obsah zarovnaný na střed */
  padding: 0 16px; /* Padding pro vnitřní odsazení */
}

.text-container {
  max-width: 50%; /* Omezí šířku textu na polovinu */
}

.image-container {
  flex-shrink: 0; /* Zajistí, že obrázek nebude zmenšován */
}

.fixed-size {
  width: 400px;
  height: 670px;
  object-fit: cover;

}


.highlight {
  color: #BA31BC; /* Například červená barva */
  
}

/* Hlavní styl pro celé tělo */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Tmavé pozadí */
  color: #fff; /* Bílý text pro kontrast */
}

/* Styly pro hlavní sekci projektu */
.project {
  margin: 20px auto;
  padding: 20px;
margin-left: 600px;
  max-width: 1200px;
}

/* Nadpis projektu */
.project h1 {
  font-size: 3em;
  margin-bottom: 80px;

  color: #BA31BC; /* Světlejší barva nadpisu pro kontrast */
}

/* Nadpis projektu */
.project h4 {
  font-size: 1.5em;
  

  line-height: 1.6;

  color: #F1EEF3; /* Světlejší šedý text pro popis */
  margin-bottom: 0px;
}

/* Popisek projektu */
.project p {
  font-size: 1.2em;
  max-width: 700px; /* Nastaví maximální šířku řádku */

  line-height: 1.6;

  color: #F1EEF3; /* Světlejší šedý text pro popis */
  margin-bottom: 40px;
  margin-top: 0px;
}


/* Kontainer pro obrázky */
.images {
  display: flex;

  flex-direction: column; /* Obrázky budou pod sebou */
  gap: 20px; /* Větší mezera mezi obrázky */
}

/* Individuální obrázky */
.images img {
  width: 60%; /* Obrázky zabírají celou šířku */
  height: 60%;
  border-radius: 18px;
  transition: transform 0.3s ease-in-out;
}



/* Styly pro mobilní zařízení */
@media (max-width: 768px) {
  .images img {
    max-width: 100%; /* Obrázky se přizpůsobí šířce obrazovky */
  }
}


@media (min-width: 641px) {
  .hero {
    position: relative;
    text-align: left;
    padding-top: 200px;
    padding-bottom: 300px;
  }

  .hero-cta {
    margin: 0;
  }
 
 /* Styl pro tlačítko */
#scrollToTopBtn {
  display: none; /* Tlačítko je skryté na začátku */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #BA31BC;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Styl pro tlačítko při hoveru */
#scrollToTopBtn:hover {
  background-color: #BA31BC;
}

/* Styl pro sekci copyright */
.copyright {
    background-color: ttr; /* Barva pozadí */
    color: white; /* Barva textu */
    text-align: center; /* Vycentrování textu */
    padding: 20px 0; /* Vnitřní odsazení */
    font-size: 14px; /* Velikost písma */
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyright p {
    margin: 0;
}



