body {
  font-family: 'Inter', sans-serif;
}


html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header {
   
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {.
        font-family: monospace, sans-serif;
    }
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2; /* Header bude vždy nad hero sekcí */

    color: #F1EEF3;
    text-transform: uppercase;
    font-size: 14px;
    
    font-weight: 700;
    border-bottom: 0.8px solid #98979751; /* Přidání čáry pod header */
}


    .logo {
        font-size: 14px;
        font-weight: 700;
    }
    nav {
        margin-left: auto;
    }
    nav ul {
        list-style: none;
        display: flex;
    }
    nav ul li {
        margin: 0 50px;
    }
    nav ul li a {
        color: #F1EEF3;
        text-decoration: none;
        font-size: 14px;
    }

/* Pro odkaz "Markéta Bystřická" */
a.logo {
  color: white; /* Výchozí barva textu */
  text-decoration: none; /* Odstraní podtržení */
}

/* Pro stav, když je odkaz aktivní (kliknutý) */
a.logo:active,
a.logo:focus,
a.logo:visited {
  color: white; /* Zachování bílé barvy i při kliknutí nebo navštívení */
}


.buttonkontakt {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BA31BC;
    color: #fff !important;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    transition: box-shadow 0.15s ease;
}

.buttonkontakt:hover, .button-primary:hover {
    background: #cc36cf;
}

.buttonkontakt::before, .button-primary::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 16px #741e76;
    mix-blend-mode: normal;
    border-radius: 50px;
    transition: box-shadow 0.15s ease;
}

.buttonkontakt:hover::before, .button-primary:hover::before {
    box-shadow: 0 8px 16px #ce36d067;
}

}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle at -10% 20%, #26282F 0%, transparent 30%),  
              radial-gradient(circle at 60% -10%, #121A46 0%, transparent 40%), 
              radial-gradient(circle at 80% 80%, #391C39 0%, transparent 40%), 
              radial-gradient(circle at 20% 200%, #121316 50%, transparent 100%),


                
              #121316; /* Hlavní tmavé pozadí */
  background-attachment: fixed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


}

html {
  font-size: 20px;
  line-height: 30px;
}

body {
  color: #C3C4CD;
  font-size: 1rem;
}

body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  clear: both;
  color:#F1EEF3;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h1,
.h1 {
  font-size: 64px;
  line-height: 16px;
  letter-spacing: 0px;
}

label {
  font-size: 20px;
  line-height: 30px;
}

.container,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1128px; /* Maximální šířka kontejneru */
}

.container-sm {
  max-width: 848px;
}

.container .container-sm {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}

.input,
.textarea {
  background-color: #F1EEF3;
  border-width: 1px;
  border-style: solid;
  border-color: #273c5a;
  border-radius: 2px;
  color: #7487a3;
  max-width: 100%;
  width: 100%;
}

.button:active {
  outline: 0;
}

.button-shadow {
  position: relative;
}

.button-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 24px rgba(6, 16, 31, 0.25);
  mix-blend-mode: multiply;
  transition: box-shadow 0.15s ease;
}

.button-shadow:hover::before {
  box-shadow: 0 8px 24px rgba(6, 16, 31, 0.35);
}

.button-primary {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background: #BA31BC;
  background-color: #BA31BC;
  color: #fff !important;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

.button-primary:hover {
  background: #cc36cf;
}

.button-primary.button-shadow::before {
  box-shadow: 0 8px 16px #741e76;
  mix-blend-mode: normal;
  border-radius: 50px;
}

.button-primary.button-shadow:hover::before {
  box-shadow: 0 8px 16px #ce36d067;
}

.hero {
  /*text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;*/
  text-align: center;
  margin-top: -250px;
  padding-top: 0;
  padding-bottom: 24px;
}

.hero-paragraph {
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 200;
}

.hero-content {
  display: flex;
  align-items: center; /* Vertikálně vyrovná text a obrázek na stejné úrovni */
  justify-content: space-between; /* Obrázek a text budou na opačných stranách */
  max-width: 1128px; /* Maximální šířka kontejneru pro obsah */
  margin: 0 auto; /* Aby byl obsah zarovnaný na střed */
  padding: 0 16px; /* Padding pro vnitřní odsazení */
}

.text-container {
  max-width: 50%; /* Omezí šířku textu na polovinu */
}

.image-container {
  flex-shrink: 0; /* Zajistí, že obrázek nebude zmenšován */
  margin-right: -150px; /* Posunutí doprava o 20px */
  
}

.fixed-size {
  width: 700px;
  height: 900px;
  object-fit: contain;

}


.highlight {
  color: #BA31BC; /* Například červená barva */
  
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tři sloupce */
  gap: 32px; /* Mezera mezi položkami */
  margin-top: -300px;
  margin-bottom:32px;

}

.portfolio-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tři sloupce */
  gap: 32px; /* Mezera mezi položkami */
  margin-top: 32px;
	margin-left: 200px;
margin-right: 200px;
}

.portfolio-item {
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 18px;
  text-align: left;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 300px; /* Určujeme výšku pro jednotné zobrazení */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.portfolio-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; /* Určuje výšku gradientu */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  border-radius: 18px;
  z-index: 0; /* Zajišťuje, že gradient bude pod textem */
}

.portfolio-item .text {
  position: relative;
  z-index: 1; /* Zajišťuje, že text bude nad gradientem */
}

.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.portfolio-item .text-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*texty uvnitř karty portfolia - nadpis*/
.portfolio-item h3 {
  font-size: 24px;
  margin: 0 0 px 0;
  color: #F1EEF3
  ; /* nadpis projektu barva */
  position: absolute;
  bottom: 28px; /* Posunutí nadpisu výše oproti popisku */
  left: 30px;
}
/*texty uvnitř karty portfolia - podnadpis*/
.portfolio-item p {
  font-size: 16px;
  color: #F1EEF3;
  margin: 0;
  position: absolute;
  bottom: 26px;
  left: 30px;
}

/* Sekce o mě */
.cv {
  padding: 60px 0;
  /* background: #121316; BACKGROUND COLOR */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.cv-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.cv-left {
  flex: 1;
  text-align: center;
}

.cv-photo {
  width: 900px;
  height: 900px;
  object-fit: contain;
  border-radius: 0%; /* Fotka v kruhu = 50% */
  margin-left: -200px; /* Posunutí doleva o 20px */
  
}

.cv-download .button {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BA31BC;
    color: #fff !important;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    transition: box-shadow 0.15s ease;
}

.cv-download .button:hover {
    background: #BA31BC;
}

.cv-download .button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 16px rgba(249, 66, 95, 0.25);
    mix-blend-mode: normal;
    border-radius: 50px;
    transition: box-shadow 0.15s ease;
}

.cv-download .button:hover::before {
    box-shadow: 0 8px 16px rgba(249, 66, 95, 0.35);
}

.cv-right {
  flex: 2;
  max-width: 600px;
}

.cv-right h3 {
  font-size: 40px;
  margin-bottom: 40px;
color: #BA31BC;
}

.cv-right p {
  font-size: 16px;
  color: a6a6a6;  /* barva textu cv */
  margin-bottom: 40px;
  line-height: 1.4;  /* Zvýšení mezery mezi řádky */
}

.cv-right h4 {
  font-size: 20px;
  margin-bottom: 10px;



}

.cv-skills {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center; /* Vycentrování textu na střed */
color: #BA31BC;
}


.cv-skills h4 {
font-size: 40px; /* Skills nadpis */
color: #BA31BC;


}

.skill-logo {
  width: 100%;        /* Obrázek se roztáhne na celou šířku kontejneru */
  height: auto;       /* Výška se automaticky přizpůsobí šířce, aby obrázek zachoval proporce */
  object-fit: cover;  /* Tento styl může být použit, pokud chceš, aby obrázek pokryl celý kontejner, ale může to oříznout části obrázku */
  transition: transform 0.3s ease;

}

.skill-logo:hover {
  transform: scale(1.1); /* Efekt při najetí na logo */
}
s

/* Responsivní design pro menší obrazovky */
@media (max-width: 768px) {
  .cv-content {
    flex-direction: column;
    align-items: center;
  }

  .cv-left,
  .cv-right {
    text-align: center;
  }

  .cv-photo {
    width: 150px;
    height: 150px;
  }

  .skills-logos {
    justify-content: center;
  }
}

.contact {
    padding: 120px 0;
    padding-bottom: 80px; /* mezera mezi kontaktem a copyrightem */
    text-align: center;
    background: ttr; /* Opravená barva */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.contact .section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
}

.contact .section-title2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 80px;
    color: #BA31BC;
}

.contact-buttons {
  
display: flex;
    gap: 40px; /* Stejná mezera mezi tlačítky */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
}

.contact-buttons .button {
    min-width: 80px; /* Širší, aby se text vešel */
    height: auto; /* Automatická výška podle obsahu */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(6, 16, 31, 0.25);
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 10px; /* Trochu vnitřního prostoru */
}

/* Telefon a e-mail mají fialovou barvu */
.contact-buttons .button.phone, 
.contact-buttons .button.mail {
    background-color: #303030;
}

.contact-buttons .button.phone i, 
.contact-buttons .button.mail i {
    color: #BA31BC;
}

/* LinkedIn má modrou barvu */
.contact-buttons .button.linkedin {
    background-color: #303030;
}

.contact-buttons .button.linkedin i {
    color: #0077B5;
}

.contact-buttons .button:hover {
    opacity: 0.8;
}

.contact-buttons .button i {
    font-size: 32px;
    margin-bottom: 5px; /* Menší mezera pro lepší vzhled */
}

.contact-buttons .button span {
    font-size: 14px;
    color: Silver;
    text-align: center;
    display: block; /* Ujistí se, že text je na vlastním řádku */
}


@media (min-width: 641px) {
  .hero {
    position: relative;
    text-align: left;
    padding-top: 200px;
    padding-bottom: 300px;
  }

  .hero-cta {
    margin: 0;
  }
 
 /* Styl pro tlačítko */
#scrollToTopBtn {
  display: none; /* Tlačítko je skryté na začátku */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #BA31BC;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Styl pro tlačítko při hoveru */
#scrollToTopBtn:hover {
  background-color: #BA31BC;
}

/* Styl pro sekci copyright */
.copyright {
    background-color: ttr; /* Barva pozadí */
    color: white; /* Barva textu */
    text-align: center; /* Vycentrování textu */
    padding: 20px 0; /* Vnitřní odsazení */
    font-size: 14px; /* Velikost písma */
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyright p {
    margin: 0;
}



